.wrapInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #ffffff;
    padding: 20px;
    border: 4px solid #090909;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #090909;
}

.wrapInfo button{
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    opacity: 0.8;
    transition: all 500ms ease-in-out;
}

.wrapInfo button:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    text-shadow: 0px 3px 10px #0cf80097;
}